/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*Хедер*/
.header {
    width: auto;
 
    height: 90px;
    background-color: #ffffff;
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    padding-left: 119px;
    padding-right: 119px;
    
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

/*Логотип*/
.logo {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo-top {
    font-family: 'Black Signature PERSONAL USE ONLY';
    font-size: 16px;
    color: #3E3E3E;
}

.logo-bottom {
    font-family: 'Changa One';
    font-size: 28px;
    font-weight: 400;
    color: #8A53FF;
}

/*Правая часть*/
.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*Меню*/
.nav {
    font-family: 'Roboto';
    display: flex;
    gap: 24px;
}

.nav a {
    text-decoration: none;
    color: #495367;
    font-size: 16px;
}

.nav a.active {
    color: #8A53FF;
}

/*Разделитель*/
.separator {
    width: 1px;
    height: 18.53px;
    background-color: #EEEEEE;
}

/* --- Иконки --- */
.icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 24px;      
    height: 24px;
    cursor: pointer;
    object-fit: contain;
}

.hero{
    width: 100%;            
    height: 580px;      
    
    background-image: linear-gradient(to right, 
                        rgba(255, 255, 255, 1) 0%, 
                        rgba(255, 255, 255, 0) 78%),
    url('../img/Фон.png'); 
    
    background-repeat: no-repeat; 
    background-size: cover;        
    background-position: center;   
    
    display: flex;
    align-items: flex-start;          

    padding-left: 140px;
    padding-top: 124px;
}

.hero__title {
    font-family: 'Changa One', sans-serif;
    font-size: 73px;
    font-weight: 400;         
    line-height: 84px;        
    letter-spacing: -0.01em; 
    color: #434343;
}

.hero__title-accent {
    color: #8A53FF;
}

.hero__description {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;         
    line-height: 36px;  
    color: #434343;
    padding-top: 12px;
}

.hero__actions {
    display: flex;
    gap: 14px;
    align-items: center;
    padding-top: 26px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 46px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;
}

.button--primary {
    background: #8A53FF;
    width: 166px;
    height: 46px;
    color: #ffffff;
}

.hero__actions--secondary {
    display: inline-flex;
}
.icon--video {
    width: 36px;     
    height: 36px;
    cursor: pointer;
    object-fit: contain;
}

.button--secondary {
    padding-left: 24px;
    color: #434343;
}

.featured{ 
    background-color: #ffffff;
    padding: 107px 140px;
}

.featured__inner {
    display: flex;
}

.featured__media {
    padding-right: 40px;
}

.featured__image {
    width: 540px;
    height: 338px;     
    height: auto;         
    border-radius: 8px;
}

.featured__content{
    width: 580px;
    height: 292px;
}

.featured__text{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.eyebrow {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700; 
    letter-spacing: 1.08px;   
    color: #8A53FF;
    margin-bottom: 8px;
}

.title{
    font-family: 'Changa One', sans-serif;
    font-size: 39px;
    font-weight: 400;   
    color: #434343;
    margin-bottom: 8px;
}

.featured__title{
    line-height: 36px; 
}

.featured__description{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400; 
    line-height: 33px;   
    color: #434343;
}

.button--icon {
    color: #8A53FF;  
    margin-top: 24px;
    margin-left: 30px;   
}

.featured__video{
    width: 36px;     
    height: 36px;
    cursor: pointer;
    object-fit: contain;  
    color: #8A53FF;
}

.discover {
  background-color: #ffffff;
  padding: 24px 119px 70px;
  width: 100%;   
  margin: 0 auto;              
}

.discover_header{
    text-align: center;
    margin-bottom: 48px;
}

.featured__title{
    line-height: 40px;
}

.country-card {
  text-align: center;
}

.country-card__image {
  width: 100%;              
  aspect-ratio: 268.5 / 317;  
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.country-card__title {
    font-family: 'Changa One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #576074;
    margin-top: 10px;
}

.country-card__link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8A53FF;
    display: inline-block;
    text-decoration: none;
}

.discover__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));  
  gap: 30px;                            
  list-style: none;
  padding-top: 16px;
  margin: 0;
}
    
.share {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  
  background-image: url('../img/share.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.share__header {
  text-align: center;
  margin-bottom: 30px; 
}

.share__eyebrow {
  margin-bottom: 10px;
}

.share__title {
  margin: 0;
}

/*Белая карточка*/
.share__card {
  background-color: #ffffff;
  width: 617px; 
  height: auto; 
  
  border-radius: 12px;
  padding: 28px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
}

.share__card-title {
  font-family: 'Changa One', sans-serif; 
  font-size: 24px;
  font-weight: 400;
  color: #434343;
  line-height: 36px;
  margin-bottom: 6px;
}

.share__card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #576074;
  line-height: 34px;
  margin-bottom: 17px;
}

/* --- Форма --- */
.share__form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.share__field {
  width: 100%;
}

/* Стили для всех полей ввода (input, select, textarea) */
.share__field input,
.share__field select,
.share__field textarea {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.23); 
  border-radius: 4px;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;                   
  font-weight: 400;               
  line-height: 24px;              
  letter-spacing: 0.15px; 
  color: #576074;
  background-color: #ffffff;
  outline: none; 
}

.share__field input::placeholder,
.share__field textarea::placeholder {
  color: #576074;
}

.share__field input:focus,
.share__field select:focus,
.share__field textarea:focus {
  border-color: #8A53FF;
}

.share__field textarea {
  min-height: 102px; 
  resize: vertical; 
}

.share__submit {
  margin-top: 5px;
  width: 222px; 
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.recent {
  background-color: #ffffff;
  padding: 83px 120px;
  min-height: 750px;
  width: 100%;
}

.recent__header {
  text-align: center;
  margin-bottom: 30px; 
}

.recent__eyebrow {
  margin-bottom: 15px;
}

.recent__title {
  margin: 0;
}

/* --- Сетка: большая карточка + список --- */
.recent__inner {
  display: flex;
}

/* --- Большая карточка слева --- */
.recent__main {
    width: 600px;        
    flex-shrink: 0;
    
    
    display: flex;
    flex-direction: column;
}

.recent__main-image {
    width: 560px;               
    height: 358px;             
    object-fit: cover;
    
    margin: 0 20px;
    
    border-radius: 8px 8px 0 0;
    display: block;
}

.recent__main-row {
  display: flex;
  align-items: center;      
  gap: 28px;
}

/* Блок с текстом и кнопкой (560×118) */
.recent__main-content {
    width: 560px;
    margin: 0 20px;             
    
    padding: 14px 24px;         
    
    background-color: #F9F9F9;
    
    /* Скругление: верх 0, низ 8 */
    border-radius: 0 0 8px 8px;
    
    box-sizing: border-box;    
}

.recent__main-text-block {
    width: 512px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.recent__main-title {
  font-family: 'Changa One', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}

.recent__main-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #576074;
}

/* Кнопка Play */
.recent__play {
  width: 49px;
  height: 49px;
  flex-shrink: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
}

.recent__play img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Список маленьких карточек справа */ 
.recent__list {
    width: 600px;
    height: 476px;
    display: flex;
    flex-direction: column;
    gap: 16px;         
    flex: 1;
}

.recent__item {
  display: flex;
  gap: 20px;                 
  
  background-color: #F9F9F9; 
  border-radius: 8px;       
  
  padding: 10px 11px;        
  
  min-height: 148px;         
  box-sizing: border-box; 
}

/* Картинка: 200 × 128 */
.recent__item-image {
  width: 200px;
  height: 128px;
  object-fit: cover;
  border-radius: 4px;         
  flex-shrink: 0;             
}

.recent__item-content {
    width: 358px;
    display: flex;
    flex-direction: column;
    gap: 6px;                  

    padding: 8px 0px;
    max-width: 358px;                
}

.recent__item-title {
  font-family: 'Changa One', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}

.recent__item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #576074;
}

.recent__link {
  color: #8A53FF;
  text-decoration: none;
}

.recent__link:hover {
  text-decoration: underline;
}

.footer {
    width: 100%;
    min-height: 80px;           
    
    background-color: #ffffff;
    
    padding: 32px 120px;
    
    /* Раскладываем копирайт и меню по краям */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;
}

/* Копирайт */
.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #939EB4;              
}

/* Меню в футере */
.footer__nav {
  display: flex;
  gap: 30px;                    
  width: 280px;                
  justify-content: space-between;
}

/* Ссылки в меню */
.footer__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
  color: #939EB4;
  text-decoration: none;
  
  transition: color 0.2s;
}

.footer__link:hover {
  color: #8A53FF;               /* фиолетовый при наведении */
}